<!DOCTYPE html>
<html>
  <head>
    <title>Postage Rate Result</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>
  <body>
    <main id="result">
      <h3>Result:</h3>
      <p>The postage amount is $<%= sol %></p>
    </main>
  </body>
</html>
