
iframe {
  height: 20px;
  width: 50px;
}
form {
  width: 300px;
}
#result {
  margin: 25%;
  width: auto;
  border: 5px solid black;
  border-radius: 15px 15px 15px 15px;
  background-color: orange;
  padding: 0 5%;
}
body {
  margin: auto;
}
#submitHome, #submit {
  margin: 5px;
  padding: 3px;
}

#indexbody {
  margin: 10%;

}

#postalmain {
  background-color: orange;
  border: 5px solid black;
  border-radius: 15px 15px 15px 15px;
  width: 310px;
  padding: 0 5%;
}
